
#side_nav{
    background: white;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    border-right: 0.5px solid lightgray;
}
nav{
    width: 100%;
    margin-bottom: 20px;
}
.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background: #eee;
}

.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
}
.sidebar li a{
    color: black;
}


#side_nav{
    margin-left: -250px;
    position: absolute;
    min-height: 100vh;
    z-index: 1;

}
#side_nav.active{
    margin-left: 0;
    box-shadow: 0,0,0.4,black;
}

.close-btn{
    color: black;
    font-weight: bolder;
    font-size: 40px;
}

.close-btn:hover{
    color: lightgray;
}
